*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('/img/bg.jpg');
}

.bgbox{
  height: 350px;
  background-size: cover;
  background-image: url('/img/bgmain.png');
}
.text{
font-family: 'Oswald', sans-serif;
color:white;
text-align: center;
}
.selectChar{
  border: 1px solid white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  margin-top: 60px;
}
.char{
  width: 100px;
  height: 100px;
  border: 0.5px solid white;
  border-radius: 50%;
  margin: 0 10px;
  transition: .5s;
}
.char:hover{
  background-color: white;
}
.c1{
background-image: url('/img/e1.png');
background-size: cover;
}
.c2{
  background-image: url('/img/e2.png');
background-size: cover;
}
.hero{
  height: 350px;
  background-size: cover;
  background-image: url('/img/1.png');
  position: relative;
}
.hero2{
  height: 350px;
  background-size: cover;
  background-image: url('/img/2.png');
}
.score{
font-family: 'Oswald', sans-serif;
color:white;
font-weight: 100;
font-size: 2.4em;
text-align: center;
}
.en{
  width: 120px;
  height:120px;
 /* background-color: white;*/
  position: absolute;
  bottom: 0; left: 0;
  transform: translateY(-80px) translateX(75px);
  animation-name: aninEn1;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  background-size: 120px 120px;
}
.en1{
  background-image: url('/img/e1.png');
}
.en2{
  background-image: url('/img/e2.png');
}
@keyframes aninEn1{
  60%{
    transform: 
      translateX(100px)
      translateY(-100px);
  }
  100%{
    transform: 
      translateX(105px)
      translateY(-60px);
  }
}



